body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: #2E5BFF;
}

/* HERO */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px;
  background: #FFD84D;
  height: 100vh;
}

.hero-left h1 {
  font-size: 60px;
}

.subtitle {
  margin-top: 10px;
  font-size: 18px;
}

.tags span {
  background: #2E5BFF;
  color: white;
  padding: 5px 10px;
  margin-right: 10px;
  border-radius: 6px;
}

.btn {
  margin-top: 20px;
  padding: 12px 25px;
  background: black;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  transform: scale(1.1);
}

/* PIKACHU */
.pikachu {
  width: 280px;
}

.main-pika {
  animation: float 2s infinite ease-in-out;
}

@keyframes float {
  0%,100% { transform: translateY(0); }
  50% { transform: translateY(-15px); }
}

/* ABOUT */
.about {
  display: flex;
  padding: 60px;
  background: #FFE680;
}

.card {
  background: #2E5BFF;
  color: white;
  padding: 10px;
  margin: 10px 0;
  border-radius: 8px;
}

.hover-pika:hover {
  transform: scale(1.1) rotate(3deg);
}

/* PROJECTS */
.projects {
  padding: 60px;
  background: #FFD84D;
}

.project-grid {
  display: flex;
  gap: 20px;
}

.project-card {
  background: white;
  padding: 40px;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.3s;
}

.project-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 20px 40px rgba(0,0,0,0.2);
}

/* SKILLS */
.skills {
  padding: 60px;
  background: #FFE680;
}

.bar {
  width: 100%;
  height: 10px;
  background: #ccc;
  border-radius: 10px;
}

.fill {
  height: 10px;
  background: #2E5BFF;
  width: 0;
  border-radius: 10px;
}

/* CONTACT */
.contact {
  padding: 60px;
  background: #FFD84D;
  text-align: center;
}

.socials {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.socials div {
  background: black;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.socials div:hover {
  transform: scale(1.2);
}